body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header-title {
    text-align: center;
    background-color: #000;
    padding: 5px 0;
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    background-color: white;
    border: 10px solid black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar a:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.image-gallery-wrapper {
    border: 4px solid black; /* Borde alrededor de la galería y los círculos */
    padding: 10px; /* Espacio interno */
    display: inline-block; /* Ajusta el tamaño del borde al contenido */
}

.image-gallery {
    position: relative;
    width: 100%;
    max-width: 1980px;
    height: 300px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    border-bottom: none; /* Eliminar el borde inferior */
}

.image-gallery img {
    width: 1000px;
    height: 300px;
    max-width: 1980px;
    object-fit: cover;
}

.gallery-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 40px;
    box-sizing: border-box;
}

.gallery-controls button {
    font-size: 48px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.gallery-controls button:hover {
    color: white;
}

.progress-dots {
    text-align: center;
    margin: 20px 0;
}

.dot-wrapper {
    border: 4px solid black; /* Borde alrededor de los círculos */
    padding: 10px; /* Espacio interno */
    display: inline-block; /* Ajusta el tamaño del borde al contenido */
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 7px;
    background-color: lightgray;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 2px solid black; /* Borde en todos los lados */
    border-top: none; /* Eliminar el borde superior */
}

.dot.active {
    background-color: black;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-top: 2px solid #ccc;
}

footer p {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1.6;
}

footer button {
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #334fff;
    color: #334fff;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

footer button:hover {
    background-color: #334fff;
    color: white;
}

#text {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
}
